<html>
  <head>
    <title>title of the page invisible?</title>
  </head>

  <h1>{{username }}</h1>

  <h1>{{ver }}</h1>

  <body>
    <br /><br />

    <br />
    {% set counter = {"counter_value": 1} %} {% for qq in q_list %} #{{
    counter.counter_value }}
    <div
      style="
        width: 650px;
        height: 90px;
        padding: 20px;
        text-align: left;
        border: 1px solid #787878;
      "
    >
      {{ qq }}
    </div>
    <br /><br />
    {% if counter.update({"counter_value":counter.counter_value + 1}) %} {%
    endif %} {% endfor %}
  </body>
</html>
